doctype html
html
  head
    style.
      .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      }
      .dropbtn:hover,
      .dropbtn:focus {
      background-color: #2980B9;
      }
      .dropdown {
      position: relative;
      display: inline-block;
      }
      .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      }
      .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      }
      .dropdown-content a:hover {
      background-color: #ddd
      }
      .show {
      display: block;
      }
    script(type='text/javascript', src='calculator.js')
  body
    h1 Resistor Value Calculator
    .value.display
      h3
        | Your current values are:
      // Display all values in a row
    #input
      // All of these will have drop down menues implemented
      #b1
        p
          | Band 1
        p#b1color
          | black
        .dropdown
          button.dropbtn(onclick='myFunction1()') Select Band 1 Color
          #myDropdown1.dropdown-content
            input#status1(type='button', value='Black', onclick='pressb1(1)')
            input#status2(type='button', value='Brown', onclick='pressb1(2)')
            input#status3(type='button', value='Red', onclick='pressb1(3)')
            input#status1(type='button', value='Orange', onclick='pressb1(4)')
            input#status2(type='button', value='Yellow', onclick='pressb1(5)')
            input#status3(type='button', value='Green', onclick='pressb1(6)')
            input#status1(type='button', value='Blue', onclick='pressb1(7)')
            input#status2(type='button', value='Violet', onclick='pressb1(8)')
            input#status3(type='button', value='Gray', onclick='pressb1(9)')
            input#status3(type='button', value='White', onclick='pressb1(10)')
      #b2
        p
          | Band 2
        p#b2color
          | black
        .dropdown
          button.dropbtn(onclick='myFunction2()') Select Band 2 Color
          #myDropdown2.dropdown-content
            input#status1(type='button', value='Black', onclick='pressb2(1)')
            input#status2(type='button', value='Brown', onclick='pressb2(2)')
            input#status3(type='button', value='Red', onclick='pressb2(3)')
            input#status1(type='button', value='Orange', onclick='pressb2(4)')
            input#status2(type='button', value='Yellow', onclick='pressb2(5)')
            input#status3(type='button', value='Green', onclick='pressb2(6)')
            input#status1(type='button', value='Blue', onclick='pressb2(7)')
            input#status2(type='button', value='Violet', onclick='pressb2(8)')
            input#status3(type='button', value='Gray', onclick='pressb2(9)')
            input#status3(type='button', value='White', onclick='pressb2(10)')
      p
        | Band 3
      p#b3color
        | black
      .dropdown
        button.dropbtn(onclick='myFunction3()') Select Band 3 Color
        #myDropdown3.dropdown-content
          input#status1(type='button', value='Black', onclick='pressb3(1)')
          input#status2(type='button', value='Brown', onclick='pressb3(2)')
          input#status3(type='button', value='Red', onclick='pressb3(3)')
          input#status1(type='button', value='Orange', onclick='pressb3(4)')
          input#status2(type='button', value='Yellow', onclick='pressb3(5)')
          input#status3(type='button', value='Green', onclick='pressb3(6)')
          input#status1(type='button', value='Blue', onclick='pressb3(7)')
          input#status2(type='button', value='Violet', onclick='pressb3(8)')
          input#status3(type='button', value='Gray', onclick='pressb3(9)')
          input#status3(type='button', value='White', onclick='pressb3(10)')
          input#status3(type='button', value='Gold', onclick='pressb3(11)')
          input#status3(type='button', value='silver', onclick='pressb3(12)')
      p
        | Band 4
      p#b4color
        | brown
      .dropdown
        button.dropbtn(onclick='myFunction4()') Select Band 4 Color
        #myDropdown4.dropdown-content
          input#status2(type='button', value='Brown', onclick='pressb4(2)')
          input#status3(type='button', value='Red', onclick='pressb4(3)')
          input#status3(type='button', value='Green', onclick='pressb4(6)')
          input#status1(type='button', value='Blue', onclick='pressb4(7)')
          input#status2(type='button', value='Violet', onclick='pressb4(8)')
          input#status3(type='button', value='Gray', onclick='pressb4(9)')
          input#status3(type='button', value='Gold', onclick='pressb4(11)')
          input#status3(type='button', value='silver', onclick='pressb4(12)')
    #values
      p
        | Resistance Value:
      h3#resval
        | Not calc
      p
        | Tolerance:
      h2#tolval
        | Not calc
