doctype html
html

  // head
  head
    meta(charset='utf-8')
    base(href='/')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    link(href='css/animated.css', type='text/css', rel='stylesheet')
    link(href='css/form.css', type='text/css', rel='stylesheet')
    title Template Webpage
    
  body

    // navbar
    #navbar
        a#home-link(href='/') Home
        a(href='yourhistory',title='See your past resistor lookups.') History
        a(href='lookup',title='Lookup parts.') Parts
        a(href='calculate',title='Calculate a resistance value.') Calculate
    button#navbar-button(onclick='toggleMobileNav()', title='Toggle Menu') @
    #navbar-padder

    // content
    #content
      #example-box
        block content

    // footer
    #footer
      #footer-content-wrapper
        p CS 290 Resistor Project, 2018
    script(type='text/javascript', src='js/script.js')
