doctype html
html

  // head
  head
    meta(charset='utf-8')
    base(href='/')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    link(href='css/login.css', type='text/css', rel='stylesheet')
    title= title
  body
    // content
    #content
        block content

    // footer
    #footer
      #footer-content-wrapper
        p CS 290 Resistor Project, 2018
    script(type='text/javascript', src='js/script.js')
